<!-- THE CODE BELOW ACHIEVES THE SAME WITH NO ISSUE -->

<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Tab 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
</ion-content>