<hype-tab-page title="Tab 1">
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
  Tab number one <br />
</hype-tab-page>