<hype-tab-page title="Tab 3">
  <ion-button [routerLink]="['/another-page']">Go To Another Page</ion-button> <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
  Tab number three <br />
</hype-tab-page>